.backgroudColor{
    background-color: rgb(114, 5, 5);
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    margin-top:20px;
    margin-left: 5px;
    padding: 5px;
}

.contact-icon{
    margin-right: 5px;
}
.bottom-margin{
    bottom:-1;
}